@import url(../css/zeroing.css);
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif, sans-serif;
  font-size: 1.4rem;
  line-height: 1.25; }

@media (max-width: 767px) {
  body {
    background-color: #fffffe;
    font-size: 1rem; } }
/* ------------wrapper------------ */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }

/* ------------container------------ */
._container {
  max-width: 1170px;
  margin: 0px auto; }

/* ----------header-------------- */
.header {
  width: 100%;
  position: absolute;
  padding: 0 15px;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #00000080; }
  .header a {
    color: #fff; }

.header__nav {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px; }

.nav__link {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .nav__link:hover, .nav__link:focus {
    opacity: 0.6;
    text-decoration: underline; }

@media (max-width: 424px) {
  .header__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .header__nav .nav__list {
      gap: 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      grid-gap: 25px; } }
/* -----------bg------------- */
.bg {
  background: url("../img/hero/shutterstock_1716854038-smallSize.jpg") center/cover no-repeat;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2; }
  .bg::after {
    content: "";
    background-color: #000;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6; }

/* ------------main------------ */
.main {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative; }

/* -------------hero----------- */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 0px -80px 0px;
  height: 100vh;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.hero__title {
  margin: 0px 0px 50px 0px; }

.hero-title-block * {
  font-size: 3.9rem; }

.hero-title-block__title {
  color: #fff; }

.hero-title-block__span {
  color: #18a9ce; }

.btn-block__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 15px;
  padding: 20px 50px;
  background-color: #18a9ce;
  color: #fff;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .btn-block__link:hover, .btn-block__link:focus {
    background-color: #147f9a; }

@media (max-width: 767px) {
  .hero-title-block * {
    font-size: 2.9rem; }

  .btn-block__link {
    padding: 15px 38px; } }
/* -----------about-me------------- */
.about-me {
  margin: 120px 0px 120px 0px;
  text-align: center; }

.about-me__container {
  max-width: 945px; }

.section-title {
  margin: 0px 0px 50px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem; }
  .section-title::before {
    position: absolute;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    content: "";
    width: 300px;
    height: 1px;
    border: 1px dotted #18a9ce; }
  .section-title::after {
    content: "";
    background-color: #fff;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 12px 0 12px;
    border-color: #18a9ce transparent transparent transparent; }

.about-me__text-block {
  font-size: 1.3rem; }
  .about-me__text-block h3 {
    color: #333;
    line-height: 200%; }

.about-animation {
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-name: about;
          animation-name: about;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
@-webkit-keyframes about {
  from {
    opacity: 0;
    -webkit-transform: translate(-300%, 0) rotate(0deg);
            transform: translate(-300%, 0) rotate(0deg); }
  to {
    opacity: 1;
    -webkit-transform: translate(0px, 0px) rotate(0);
            transform: translate(0px, 0px) rotate(0); } }
@keyframes about {
  from {
    opacity: 0;
    -webkit-transform: translate(-300%, 0) rotate(0deg);
            transform: translate(-300%, 0) rotate(0deg); }
  to {
    opacity: 1;
    -webkit-transform: translate(0px, 0px) rotate(0);
            transform: translate(0px, 0px) rotate(0); } }
/* ----------my-skills-------------- */
.my-skills {
  margin: 0px 0 120px 0; }

.my-skills__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.show {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slider;
          animation-name: slider;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
@-webkit-keyframes slider {
  from {
    -webkit-transform: translate(-200%, 0px);
            transform: translate(-200%, 0px); }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }
@keyframes slider {
  from {
    -webkit-transform: translate(-200%, 0px);
            transform: translate(-200%, 0px); }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }
.rev-square-animation {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: slidein-rev;
          animation-name: slidein-rev;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
@-webkit-keyframes slidein-rev {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes slidein-rev {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.square-animation {
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-direction: alternate;
          animation-direction: alternate; }
@-webkit-keyframes slidein {
  from {
    margin-left: 300%; }
  to {
    margin-left: 0%; } }
@keyframes slidein {
  from {
    margin-left: 300%; }
  to {
    margin-left: 0%; } }
.my-skills__item {
  font-size: 1.6rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #18a9ce;
  border-radius: 50%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  width: 150px;
  height: 150px;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s; }
  .my-skills__item:hover, .my-skills__item:focus {
    -webkit-transform: translate(0px, 0px) rotate(360deg) scale(1.3);
            transform: translate(0px, 0px) rotate(360deg) scale(1.3);
    background-color: #147f9a;
    -webkit-filter: drop-shadow(3px 3px 15px #18a9ce);
            filter: drop-shadow(3px 3px 15px #18a9ce); }

@media (max-width: 920px) {
  .my-skills__list {
    display: grid;
    grid-template-columns: 1fr 1fr; } }
@media (max-width: 767px) {
  .my-skills__list {
    grid-gap: 20px; }

  .my-skills__item {
    width: 100px;
    height: 100px; } }
/* -----------portfolio------------- */
.portfolio {
  margin: 0px 0px 120px 0px; }

.slick-list {
  margin: 0px 0px 80px 0px; }

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 15rem; }

.slider {
  position: relative;
  padding: 0 50px; }

.slider .slick-arrow {
  margin: 0;
  position: absolute;
  bottom: 0;
  z-index: 10;
  font-size: 0;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer; }

.slider .slick-arrow:hover {
  opacity: 0.6; }

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/arrow/arrow-left.svg") 0 0/100% no-repeat; }

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/arrow/arrow-right.svg") 0 0/100% no-repeat; }

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px; }

.slider .slick-dots button {
  cursor: pointer;
  font-size: 0;
  height: 10px;
  width: 10px;
  background-color: #000;
  border-radius: 50%;
  border: none; }

.slider .slick-dots button:hover,
.slider .slick-dots button:focus {
  opacity: 0.6; }

.slider .slick-dots li.slick-active button {
  background-color: #00000080; }

.slider__item {
  text-align: center; }

.portfolio__slider {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .portfolio__slider img {
    width: 370px;
    max-width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 30px;
    z-index: 18; }
  @media (min-width: 920px) {
    .portfolio__slider img:hover {
      -webkit-transform: translate(0px, 0px) scale(1.5);
              transform: translate(0px, 0px) scale(1.5);
      -webkit-filter: drop-shadow(8px 8px 15px #18a9ce);
              filter: drop-shadow(8px 8px 15px #18a9ce);
      -webkit-box-shadow: none;
              box-shadow: none;
      border-radius: 15px;
      z-index: 20; }
    .portfolio__slider .slick-center {
      -webkit-filter: drop-shadow(10px 10px 20px #000);
              filter: drop-shadow(10px 10px 20px #000);
      -webkit-transform: translate(0, 0px) scale(1.3);
              transform: translate(0, 0px) scale(1.3); } }

.portfolio-works-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 400px;
  margin: 0px 0px 45px 0px; }

.portfolio-works__list {
  justify-items: center;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 767px) {
    .portfolio-works__list > *:first-child {
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .portfolio-works__list > *:first-child:hover img, .portfolio-works__list > *:first-child:focus img {
        -webkit-transform: translate(50%, 0px) scale(1.5);
                transform: translate(50%, 0px) scale(1.5);
        -webkit-filter: drop-shadow(8px 8px 15px #18a9ce);
                filter: drop-shadow(8px 8px 15px #18a9ce);
        -webkit-box-shadow: none;
                box-shadow: none;
        border-radius: 15px;
        z-index: 2; }
    .portfolio-works__list > *:last-child {
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .portfolio-works__list > *:last-child:hover img, .portfolio-works__list > *:last-child:focus img {
        -webkit-transform: translate(-50%, 0px) scale(1.5);
                transform: translate(-50%, 0px) scale(1.5);
        -webkit-filter: drop-shadow(8px 8px 15px #18a9ce);
                filter: drop-shadow(8px 8px 15px #18a9ce);
        -webkit-box-shadow: none;
                box-shadow: none;
        border-radius: 15px;
        z-index: 2; } }

.show {
  display: grid; }

.portfolio-works__item {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .portfolio-works__item:hover img, .portfolio-works__item:focus img {
    -webkit-transform: translate(0px, 0px) scale(1.5);
            transform: translate(0px, 0px) scale(1.5);
    -webkit-filter: drop-shadow(8px 8px 15px #18a9ce);
            filter: drop-shadow(8px 8px 15px #18a9ce);
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 15px;
    z-index: 2; }
  .portfolio-works__item img {
    width: 370px;
    max-width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: #147f9a 2px 2px 20px 1px;
            box-shadow: #147f9a 2px 2px 20px 1px;
    border-radius: 32px; }

.hidden-slider {
  display: none; }

.portfolio-works__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px; }
  .portfolio-works__dots ._active {
    width: 19px;
    height: 19px;
    background-color: #147f9a;
    border-radius: 50%; }

.portfolio-dots {
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #18a9ce;
  border-radius: 50%; }
  .portfolio-dots:hover, .portfolio-dots:focus {
    opacity: 0.6; }

@media (max-width: 767px) {
  .portfolio-works-block {
    display: block;
    height: 700px; }

  .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 30px; } }
/* -----------contacts------------- */
.contacts {
  margin: 0px 0px 100px 0px; }

.contacts__contact-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  grid-gap: 55px; }
  .contacts__contact-block > * {
    -webkit-box-shadow: 1px 1px 25px 1px #18a9ce;
            box-shadow: 1px 1px 25px 1px #18a9ce;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    cursor: pointer; }
    .contacts__contact-block > *:hover, .contacts__contact-block > *:focus {
      -webkit-transform: translate(0px, 0px) scale(1.3);
              transform: translate(0px, 0px) scale(1.3); }
  .contacts__contact-block h3 {
    font-size: 2.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #222;
    gap: 10px; }
    .contacts__contact-block h3::before {
      content: "";
      width: 24px;
      height: 24px; }
  .contacts__contact-block a {
    color: #222; }

.contacts-block {
  padding: 15px 5px; }
  .contacts-block > *:not(:last-child) {
    margin: 0px 0px 30px 0px; }
  .contacts-block > a:hover, .contacts-block > a:focus {
    text-decoration: underline; }

.mail-block__title::before {
  background: url("../img/envelope-solid.svg") center no-repeat; }

.phone-block__title::before {
  background: url("../img/phone-solid.svg") center no-repeat; }

.contacts__social-block .link-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px; }

.social-block__title::before {
  background: url("../img/link-solid.svg") center no-repeat; }

.social-block__link > * {
  width: 35px;
  height: 35px;
  color: #18a9ce;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .social-block__link > *:hover, .social-block__link > *:focus {
    color: #147f9a;
    -webkit-transform: translate(0px, 0px) rotate(360deg);
            transform: translate(0px, 0px) rotate(360deg); }

/* -------------footer----------- */
.footer {
  padding: 0 15px;
  background-color: #323232;
  color: #fff; }

.footer-block {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.copyright p span {
  color: #18a9ce; }

.btn-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px; }
  .btn-top::after {
    content: "";
    background: url("../img/chevron-up-solid.svg") center no-repeat;
    width: 24px;
    height: 24px; }

@media (max-width: 767px) {
  .contacts__contact-block {
    grid-template: "a a" "c c";
    grid-gap: 15px; }
    .contacts__contact-block > *:last-child {
      grid-area: c; } }
@media (max-width: 424px) {
  .contacts__contact-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px; } }
